.svgg1 {
  position:absolute; 
  z-index:10; 
  pointer-events:none; 
  width:99%; 
  height:85%;
}
.touchdiv {
  position:absolute; 
  z-index:10; 
  /*pointer-events:none;*/
  overflow: hidden;
  width:99%; 
  height:85%;
}
